.theme_default {
  --color-main-text: #2c3e50;
  --color-secondary-text: #797979;
  --color-primary: #FF7D26;
  --color-primary-faded: #ffddc4;
  --color-secondary: #f99952;
  --color-background-main: #ffffff;
  --color-gray: #c2c2c2;
  --color-gray-faded: #F4F4F4;
  --color-error: #f75e5b;
  --color-success: #74d358;
  --color-like: #f858a5;
  --color-dislike: #e46864;
  --color-favorite: #8d3fae;
}
