.color_error {
  color: var(--color-error);
}
.background_error {
  background-color: var(--color-error);
}

.color_like {
  color: var(--color-like);
}
.background_like {
  background-color: var(--color-like);
}

.color_dislike {
  color: var(--color-dislike);
}
.background_dislike {
  background-color: var(--color-dislike);
}

.color_favorite {
  color: var(--color-favorite);
}
.background_favorite {
  background-color: var(--color-favorite);
}

.color_main {
  color: var(--color-background-main);
}
.background_main {
  background-color: var(--color-background-main);
}