@import "variables";
@import "reset";
@import "forms";

html, body {
  height: 100%;
}

.d-flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-flag {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--color-main-text);
}

.online-flag.online {
  background-color: var(--color-success);
}

.blackout-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.text-center {
  text-align: center;
}

.one-ellipsis {
  text-overflow: ellipsis;
  --webkit-line-clamp: 1;
  white-space: nowrap;
  overflow: hidden;
}

@for $i from 1 through 10 {
  mt-#{$i} {
    margin-top: (4 * 1)px;
  }
  mb-#{$i} {
    margin-bottom: (4 * 1)px;
  }
  ml-#{$i} {
    margin-left: (4 * 1)px;
  }
  mr-#{$i} {
    margin-right: (4 * 1)px;
  }
}

