@import "variables";
@import "reset";
@import "forms";

html, body {
  height: 100%;
}

.d-flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-flag {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--color-main-text);
}

.online-flag.online {
  background-color: var(--color-success);
}

.blackout-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.text-center {
  text-align: center;
}

.one-ellipsis {
  text-overflow: ellipsis;
  --webkit-line-clamp: 1;
  white-space: nowrap;
  overflow: hidden;
}

.o-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

@for $i from 1 through 10 {
  .ma-#{$i} {
    margin: calc(4px * #{$i});
  }
  .mt-#{$i} {
    margin-top: calc(4px * #{$i});
  }
  .mb-#{$i} {
    margin-bottom: calc(4px * #{$i});
  }
  .ml-#{$i} {
    margin-left: calc(4px * #{$i});
  }
  .mr-#{$i} {
    margin-right: calc(4px * #{$i});
  }

  .pa-#{$i} {
    padding: calc(4px * #{$i});
  }
  .pt-#{$i} {
    padding-top: calc(4px * #{$i});
  }
  .pb-#{$i} {
    padding-bottom: calc(4px * #{$i});
  }
  .pl-#{$i} {
    padding-left: calc(4px * #{$i});
  }
  .pr-#{$i} {
    padding-right: calc(4px * #{$i});
  }
}

