@import "variables";
@import "reset";
@import "forms";

html, body {
  height: 100%;
}

.d-flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-flag {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--color-main-text);
}

.online-flag.online {
  background-color: var(--color-success);
}